#projects {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
  gap: 20px;
}

.project {
  display: flex;
  margin: 0 20px;
  padding: 20px;
}

.project .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
  padding: 10px;
}

.project h1 {
  font-size: 1.25em;
  font-weight: bold;
  align-self: center;
  padding: 10px;
}

.project .screenshot {
  width: 75%;
}

.justify-right .screenshot {
  border-radius: 10px 0 0 10px;
}

.justify-left .screenshot {
  border-radius: 0 10px 10px 0;
}

.project .tech {
  display: flex;
  justify-content: space-around;
}

.project .tech-icon {
  height: 50px;
  border-radius: 10px;
}

.justify-right .buttons {
  align-items: flex-end;
}

.justify-left {
  flex-direction: row-reverse;
}

.justify-left .buttons {
  align-items: flex-start;
}

.project .buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn {
  border-bottom: 1px solid red;
  margin: 25px;
  text-decoration: none;
  color: white;
  font-size: 2em;
  background-size: 100% 200%;
  background-image: linear-gradient(to bottom, transparent 50%, red 50%);
  transition: background-position 500ms;
}

.project .btn:hover {
  background-position: 0 100%;
}
